<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

</head>
<body>
    <h2>Edit Profile</h2>
    <img src="{% static 'images/default.jpg' %}" alt="author profile pic" class="profile-picture"/>
    <form method="POST" enctype="multipart/form-data", action="{% url 'SocialDistribution:update-profile' author.uuid %}">
        {% csrf_token %}
        <label for="display_name">Display Name:</label>
        <input type="text" name="display_name" value="{{ author.display_name }}" required><br><br>

        <label for="github">GitHub URL:</label>
        <input type="url" name="github" value="{{ author.github }}" required><br><br>

        <label for="profile_image">Upload Profile Image:</label>
        <input type="file" name="profile_image" accept="image/*"><br><br>

        <button type="submit">Save</button>
    </form>
</body>
</html>