{% extends 'base.html' %}

{% block title %}Followers{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/followers.css' %}">
{% endblock %}

{% block content %}
    <h2>Followers</h2>

    {% if followers %}
        <ul>
            {% for follower in followers %}
                <li>
                    <span>{{ follower.display_name }}</span>
                    <form method="POST" action="{% url 'SocialDistribution:remove-follower' follower.uuid %}">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no followers.</p>
    {% endif %}
{% endblock %}
