{% extends 'base.html' %}

{% block title %}Following{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/following.css' %}">
{% endblock %}

{% block content %}
    <h2>Following</h2>

    {% if following %}
        <ul>
            {% for person in following %}
                <li>
                    <span>{{ person.display_name }}</span>
                    <form method="POST" action="{% url 'SocialDistribution:unfollow-user' person.uuid %}">
                        {% csrf_token %}
                        <button type="submit">Unfollow</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not following anyone.</p>
    {% endif %}
{% endblock %}
