<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Inbox</title>
    {% load static %}
    <script src="{% static 'js/likes.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
</head>
<body>
    <h2>Inbox</h2>

    {% if inbox_posts %}
        <ul>
            {% for inbox_post in inbox_posts %}
                <li>
                    <a href="{% url 'SocialDistribution:view-single-post' inbox_post.post.uuid %}">
                        {{ inbox_post.post.title }}
                    </a>
                    <!-- Liking a post -->
                    <form method="post">
                        {% csrf_token %}
                        <section id="like-details">
                            <button class="like-post-button" data-post-id="{{ inbox_post.post.id }}">
                                ❤
                            </button>
                    
                            <span id="post-likes-count-{{ inbox_post.post.id }}">
                                {{ inbox_post.post.likes.count }}
                            </span>
                        </section>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts in your inbox.</p>
    {% endif %}

    <br><br>
    <a href="{% url 'SocialDistribution:view-profile' request.user.uuid %}">Back to My Profile</a>
</body>
</html>
