{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/inbox.css' %}">
{% endblock %}

{% block content %}
    <h2>Inbox</h2>

    {% if inbox_posts %}
        <ul>
            {% for inbox_post in inbox_posts %}
                <li>
                    <a href="{% url 'SocialDistribution:view-single-post' inbox_post.post.uuid %}">
                        {{ inbox_post.post.title }}
                    </a>
                    <form method="post">
                        {% csrf_token %}
                        <section id="like-details">
                            <button class="like-post-button" data-post-uuid="{{ inbox_post.post.uuid }}">
                                ❤
                            </button>
  
                            <span id="post-likes-count-{{ inbox_post.post.uuid }}">

                                {{ inbox_post.post.likes.count }}
                            </span>
                        </section>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts in your inbox.</p>
    {% endif %}

{% endblock %}
