<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Distributed Social Networking Project</title>
</head>
<body>
    
    <div class="home-page">
        <h1>Team Maroon</h1>
        <h2>Welcome to our app!</h2>
        <a href="{% url 'SocialDistribution:author-login' %}">Login</a>
        <br>
        <a href="{% url 'SocialDistribution:create-profile' %}">Register</a>
    </div>
</body>
</html>