html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #0D1117;
    color: #ffffff;
}

/* Body CSS for edit_profile.html */
.edit_profile_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Body CSS for view_profile.html */
.profile_body {
    display: flex;
    width: 80%;
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

#profile_details {
    position: sticky;
    top: 0;
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 2px 10px 5px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#profile_posts {
    flex: 2;
}

#profile_posts li {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    margin-top: 10px;
    box-shadow: none;
}

/* General profile picture styling */
.profile-picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
    border: 3px solid #FF7F50;
}

/* General button styling */
.new_post_button {
    background: linear-gradient(135deg, #FF7F50, #FF4500);
    color: white;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 3em;
}

button {
    background: linear-gradient(135deg, #FF7F50, #FF4500);
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(255, 127, 80, 0.5);
}

button:hover {
    background: linear-gradient(135deg, #FF4500, #FF2400);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 69, 0, 0.6);
}

/* Styling for single post */
#single_post {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
}
